@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("/background1.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

@layer components {
  .container {
    height: 100%;
  }

  .loading {
    @apply p-12 text-2xl rounded-lg bg-slate-800/70 border border-white/20 backdrop-blur-lg text-white;
  }

  .chatList,
  .userInfo,
  .details {
    flex-shrink: 0 !important;
  }

  .chatList {
    max-height: 100%;
    overflow-y: auto;
  }

  /* Common styles for image elements */
  .chatList img,
  .img {
    @apply w-12 h-12 rounded-full object-cover;
  }

  .chatList .texts,
  .texts {
    @apply flex flex-col gap-2.5;
  }

  .chatList span {
    @apply font-extrabold;
  }

  .chatList p {
    @apply text-sm font-normal -mt-2;
  }

  .searchBar {
    @apply flex items-center bg-slate-900/70 py-2.5 px-4 rounded-lg flex-1 gap-5;
  }

  .add {
    @apply w-9 h-9 bg-slate-900/70 hover:bg-slate-900/90 p-2.5 rounded-lg cursor-pointer;
  }

  .chatList .item {
    @apply flex items-center gap-5 p-5 cursor-pointer border-b border-gray-300/20;
  }

  .chatList input {
    @apply bg-transparent border-none outline-none text-white flex-1;
  }
  /* Custom scrollbar styling */
  .chatList::-webkit-scrollbar,
  .center::-webkit-scrollbar,
  .photos::-webkit-scrollbar {
    width: 8px; /* Make scrollbar thinner */
  }

  .chatList::-webkit-scrollbar-track,
  .center::-webkit-scrollbar-track,
  .photos::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2); /* Light black/gray background */
  }

  .chatList::-webkit-scrollbar-thumb,
  .center::-webkit-scrollbar-thumb,
  .photos::-webkit-scrollbar-thumb {
    background-color: #1e293b; /* Darker black/gray for the thumb */
    border-radius: 10px; /* Rounded corners for a prettier look */
    border: 2px solid transparent; /* Space around the thumb */
  }

  .chatList::-webkit-scrollbar-thumb:hover,
  .center::-webkit-scrollbar-thumb:hover {
    background-color: #0f172a; /* Even darker on hover */
  }

  .bottom input {
    @apply bg-slate-900/80 m-6 px-5 py-3 rounded-md border-none outline-none text-white flex-1;

    &:disabled {
      @apply hidden;
    }
  }

  .bottom button {
    &:disabled {
      @apply hidden;
    }
  }

  .bottom .emoji,
  .bottom .icons {
    &:disabled {
      @apply hidden;
    }
  }

  .bottom .icons {
    @apply gap-3 cursor-pointer;
  }

  .message {
    @apply max-w-[70%] flex gap-5;

    &.own {
      @apply ml-auto items-end;

      .texts {
        p {
          @apply bg-purple-700 text-sm backdrop-blur-md text-white px-5 py-3 rounded-md;
        }

        span {
          @apply text-end;
        }

        img {
          @apply w-full h-[300px] rounded-md object-cover;
        }
      }

      p {
        @apply bg-purple-700 text-sm backdrop-blur-md text-white px-5 py-3 rounded-md;
      }
    }

    &.other {
      @apply mr-auto items-start;
    }

    img {
      /* @apply w-[30px] h-[30px] rounded-s-full object-cover; */
      @apply w-full h-[300px] rounded-md object-cover;
    }

    .texts {
      @apply flex-1 flex flex-col gap-1;

      p {
        @apply px-5 py-3 rounded-md bg-black/0 backdrop-blur-md;
      }
    }
  }

  .details .user img {
    @apply w-[100px] h-[100px] rounded-full object-cover;
  }

  .info .option .title {
    @apply flex items-center justify-between;
  }

  .photos {
    @apply flex flex-col gap-5 mt-7 mx-3;
  }

  .photos .photoItem {
    @apply flex items-center justify-between;
  }

  .photos .photoItem .photoDetails {
    @apply flex items-center gap-3;
  }

  .photos .photoItem .photoDetails span {
    @apply text-gray-300;
  }

  .photos .photoItem .photoDetails img {
    @apply w-10 h-10 rounded-sm object-cover;
  }

  .downloadButton {
    @apply w-6 h-6 text-gray-400 cursor-pointer;
  }

  .info button {
    @apply px-5 py-2 bg-red-500/50 rounded-md cursor-pointer hover:bg-red-700 transition-all ease-in-out duration-200;
  }

  .info .logout {
    @apply px-5 py-2 bg-purple-500/50 rounded-md cursor-pointer hover:bg-purple-700 transition-all ease-in-out duration-200;
  }

  .photos::-webkit-scrollbar {
    width: 5px; /* Make scrollbar thinner */
  }

  .photos::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2); /* Light black/gray background */
  }

  .photos::-webkit-scrollbar-thumb {
    background-color: #1e293b; /* Darker black/gray for the thumb */
    border-radius: 10px; /* Rounded corners for a prettier look */
    border: 2px solid transparent; /* Space around the thumb */
    margin: 100px;
  }

  .login h2 {
    @apply text-4xl font-bold mb-5;
  }

  .login {
    @apply w-full h-full flex items-center gap-5;
  }

  .login .seperator {
    @apply h-[600px] w-[1px] bg-gray-400/50 rounded-md;
  }

  .login .item {
    @apply flex-1 flex flex-col items-center gap-5;
  }

  .login .item form {
    @apply flex flex-col items-center justify-center gap-5 w-full;
  }

  .login .item form label {
    @apply items-center flex flex-col justify-center gap-1 cursor-pointer;
  }

  .login .item form img {
    @apply rounded-full w-28 h-28 object-cover;
  }

  .login .item form input {
    @apply px-5 py-3 w-1/2 border-none outline-none rounded-md bg-slate-900/20 text-white;
  }

  .login .item form button {
    @apply bg-purple-600/60 w-1/2 px-5 py-3 hover:bg-purple-600/80 transition-all ease-in-out duration-150 rounded-md;
  }

  .login .item form button:disabled {
    @apply bg-gray-500;
  }

  .addUser {
    @apply max-h-max max-w-max p-5 bg-slate-800/90 rounded-md absolute top-0 bottom-0 left-0 right-0 m-auto z-10;
  }

  .addUser form input {
    @apply bg-slate-900/60 px-3 py-2 rounded-sm mr-3 outline-none;
  }

  .addUser .user button {
    @apply bg-purple-600/60 px-5 py-2 rounded-md hover:bg-purple-600/80 transition-all ease-in-out duration-150;
  }

  .addUser .user {
    @apply flex items-center justify-between mt-5;
  }

  .addUser .user .detail {
    @apply flex items-center gap-4;
  }
}
